
<div class="playingCards faceImages">
  <app-cards
  *ngFor="let card of balanceCardDeck"
  [rank]="card.rank"
  [suit]="card.suit"
  ></app-cards>
</div>
<button (click)="giveAnotherCard()" [disabled]="getTotalScore()>=21" >Give another card</button>
<button (click)="run()">Reset</button>
<p>Total score: {{getTotalScore()}}</p>
<p *ngIf="getTotalScore() === 21">You win!</p>
<p *ngIf="getTotalScore() > 21">You lose!</p>
